footer {
    padding-top: 3.5px;
    padding-right: 0px;
    padding-bottom: 3.5px;
    padding-left: 0px;
    background-color: rgb(122, 39, 39);
}

$color: white;
$color2: black;

@mixin fontsize {
    font-size: 0.8rem;
}

.footer__by {
    @include fontsize;
    color: $color;
}

.footer__by2 {
    @include fontsize;
    color: $color2;
}
