.img__Galeria {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img__Columna1 {
    margin: 30px 10px 50px 0px;
    padding: 0px 0px 0px 40px;
}

.img__Columna2 {
    margin: 30px 10px 50px 50px;
}

.img__Columna3 {
    margin: 30px 10px 50px 50px;
    padding: 0px 40px 0px 0px;
}

.hover01 figure img {
	transform: scale(1);
	transition: .5s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}